body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #00C9FF, #92FE9D);
    color: var(--text-color);
    overflow-x: hidden;
}

header {
    background: var(--background-color);
    color: var(--text-color);
    text-align: center;
    padding: 40px 0;
}

#btn {
    font-size: 2rem;
    padding: 2rem;
}


.branding{
    display: flex;
    justify-content: space-evenly;
}

.branding h1 {
    font-size: 2.5em;
    margin: 10px 0;
}

.branding p {
    font-size: 1.2em;
}

main {
    padding: 50px 5%;
    text-align: center;
}

.hero {
    background: var(--background-color);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.hero-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--text-color);
}

.hero-content {
    margin-bottom: 30px; /* Add margin to the bottom of the hero content */
}

.cta-button {
    font-size: 1.2em;
    padding: 15px 35px;
    background-color: #FF6F61;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Add margin to the top of the button */
}

.cta-button:hover {
    background-color: #FFCC5C;
}

.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.feature:hover {
    transform: scale(1.05); /* Scale the element to 105% of its original size on hover */
}

.feature {
    flex: 1;
    max-width: 300px;
    margin: 20px;
    padding: 30px;
    background: var(--background-color);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.25s ease;
}

.feature i {
    font-size: 2em;
    margin-bottom: 20px;
    color: #FF6F61;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: var(--background-color);
    border-top: 1px solid #ccc;
}

.social-icons .icon {
    font-size: 24px;
    margin: 0 15px;
    transition: transform 0.3s ease;
}

.social-icons .icon:hover {
    transform: scale(1.2);
}

:root {
    --text-color : #333;
    --background-color : #fff;
}

.dark-mode {
    --text-color : #fff;
    --background-color : #333;
}

