.branding h1 {
  font-size: 2em;
  margin: 5px 0;
}

.branding p {
  font-size: 1em;
  margin-top: 10px;
}
header {
  background: rgba(255, 255, 255, 0.9);
  color: #333;
  text-align: center;
  border-bottom: 1px solid black;
}

.resources {
  flex-wrap: wrap;
  display: flex;
}
* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  width: 100%;
  height: 400px;
}

/* Make the images invisible by default */
.Containers {
  /* display: none; */
  width: 100%;
  height: 50%;
  background-color: #000000;
}

/* forward & Back buttons */
.Back,
.forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover,
.forward:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption Info */
.Info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Worknumbering (1/3 etc) */
.MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable,
.dots:hover {
  background-color: #000000;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding-top: 0;
}

#newsDiv,
#articleDiv,
#tutorialDiv {
  width: 100%;
  margin: 20px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  height: 40vh;
  overflow-x: hidden;
  padding-top: 0;
}

#articleDiv,
#tutorialDiv {
  height: 60vh;
  width: 50%;
}

body {
  overflow-x: hidden;
}
